In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
data_set = pd.read_csv('yr.csv')

In [3]:
data_set

,year,industry_code_ANZSIC,industry_name_ANZSIC,rme_size_grp,variable,value,unit
0,2011,A,"Agriculture, Forestry and Fishing",a_0,Activity unit,46134,COUNT
1,2011,A,"Agriculture, Forestry and Fishing",a_0,Rolling mean employees,0,COUNT
2,2011,A,"Agriculture, Forestry and Fishing",a_0,Salaries and wages paid,279,DOLLARS(millions)
3,2011,A,"Agriculture, Forestry and Fishing",a_0,"Sales, government funding, grants and subsidies",8187,DOLLARS(millions)
4,2011,A,"Agriculture, Forestry and Fishing",a_0,Total income,8866,DOLLARS(millions)
...,...,...,...,...,...,...,...
17023,2021,all,All Industries,j_Grand_Total,Total income,757504,DOLLARS(millions)
17024,2021,all,All Industries,j_Grand_Total,Total expenditure,654404,DOLLARS(millions)
17025,2021,all,All Industries,j_Grand_Total,Operating profit before tax,85116,DOLLARS(millions)
17026,2021,all,All Industries,j_Grand_Total,Total assets,2512677,DOLLARS(millions)
17027,2021,all,All Industries,j_Grand_Total,Fixed tangible assets,591351,DOLLARS(millions)

In [5]:
x = data_set.iloc[::,-1].values
y = data_set.iloc[:,1].values

In [6]:
y

array(['A', 'A', 'A', ..., 'all', 'all', 'all'], dtype=object)

In [7]:
from  sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

ModuleNotFoundError: No module named 'sklearn'

In [8]:
from sklearn.linear_model import LinearRegression

ModuleNotFoundError: No module named 'sklearn'

In [9]:
reg = LineaRegression()

NameError: name 'LineaRegression' is not defined

In [10]:
reg.fit(x_train,y_train)

NameError: name 'reg' is not defined

In [11]:
y_pred = reg.predict(x_test)
x_pred = reg.predict(x_train)

NameError: name 'reg' is not defined

In [12]:
print("Train")
plt.scatter(x_train,y_train,color="green")
plt.plot(x_train,x_pred,color="red")
plt.show()

Train

NameError: name 'x_train' is not defined